body, html {
    width: 100%;
    font-family: sans-serif;
    margin: 0;
}

.container {
    height: 100vh;
    position: relative;
    background-color: black;
}

.success-popup {
    width: 80%;
    background-color: limegreen;
    color: black;
}

.failure-popup {
    width: 80%;
    background-color: red;
    color: #eeeeee;
}

.popup-button {
    padding: 16px;
    width: 100%;
}
